<ng-template #resetPasswordTemplate let-modal>
	<div class="modal-content">
		<div class="modal-header">
			<h1 class="modal-title">Reset Password</h1>
			<button type="button" class="btn-close btn-close-white" (click)="modal.dismiss('Cross click')"></button>
		</div>
		<div class="modal-body">
			<div class="container">
				<form [formGroup]="resetPasswordForm">
					<div class="row mt-3">
						<div class="col-md-4">
							<mat-form-field appearance="outline">
								<mat-label>Current Password</mat-label>
								<input
									[type]="showCurrentPassword ? 'text' : 'password'"
									formControlName="currentPassword"
									autocomplete="current-password"
									id="current-password"
									matInput
									placeholder="Enter here!"
								/>
								<mat-icon
									matSuffix
									style="cursor: pointer"
									(click)="currentPassword()"
									area-label="Warning: this will display your password on the screen."
									>{{ showCurrentPassword ? 'visibility_off' : 'visibility' }}</mat-icon
								>
								<mat-hint *ngIf="resetPasswordForm.get('currentPassword').errors?.required && resetPasswordForm.get('currentPassword').touched"
									>Password is required</mat-hint
								>
								<mat-hint *ngIf="resetPasswordForm.get('currentPassword').errors?.invalidPassword && resetPasswordForm.get('currentPassword').touched"
									>Password should have min 8 characters, at least 1 uppercase letter, 1 lowercase letter & 1 number</mat-hint
								>
							</mat-form-field>
						</div>
						<div class="col-md-4">
							<mat-form-field appearance="outline">
								<mat-label>New Password</mat-label>
								<input
									[type]="showNewPassword ? 'text' : 'password'"
									formControlName="newPassword"
									autocomplete="new-password"
									id="new-password"
									matInput
									placeholder="Enter here!"
								/>
								<mat-icon matSuffix style="cursor: pointer" (click)="newPassword()">{{ showNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
								<mat-hint *ngIf="resetPasswordForm.get('newPassword').errors?.required && resetPasswordForm.get('newPassword').touched"
									>Password is required</mat-hint
								>
								<mat-hint *ngIf="resetPasswordForm.get('newPassword').errors?.invalidPassword && resetPasswordForm.get('newPassword').touched"
									>Password should have min 8 characters, at least 1 uppercase letter, 1 lowercase letter & 1 number</mat-hint
								>
							</mat-form-field>
						</div>
						<div class="col-md-4">
							<mat-form-field appearance="outline">
								<mat-label>Confirm New Password</mat-label>
								<input
									[type]="showNewConfirmPassword ? 'text' : 'password'"
									formControlName="confirmNewPassword"
									autocomplete="confirm-new-password"
									id="confirm-new-password"
									matInput
									placeholder="Enter here!"
								/>
								<mat-icon matSuffix style="cursor: pointer" (click)="confirmNewPassword()">{{
									showNewConfirmPassword ? 'visibility_off' : 'visibility'
								}}</mat-icon>
								<mat-hint *ngIf="resetPasswordForm.get('confirmNewPassword').errors?.required && resetPasswordForm.get('confirmNewPassword').touched"
									>Please enter a valid password!!</mat-hint
								>
								<mat-hint *ngIf="resetPasswordForm.get('confirmNewPassword').errors?.passwordMismatch">Passwords does not match</mat-hint>
							</mat-form-field>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" (click)="resetPassword()">Submit</button>
			<button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Cancel</button>
		</div>
	</div>
</ng-template>
