<ng-template #resetPasswordTemplate let-modal>
	<div class="modal-content">
		<div class="modal-header">
			<h1 class="modal-title">Reset Password</h1>
			<button type="button" class="btn-close btn-close-white" (click)="modal.dismiss('Cross click')"></button>
		</div>
		<div class="modal-body mb-2">
			<div class="container">
				<form [formGroup]="resetPasswordForm">
					<div class="form-group">
						<div class="row">
							<div class="col-md-4">
								<mat-form-field appearance="outline">
									<mat-label>Old Password</mat-label>
									<input
										[type]="showOldPassword ? 'text' : 'password'"
										formControlName="oldPassword"
										autocomplete="old-password"
										matInput
										placeholder="Enter here!"
									/>
									<mat-icon matSuffix style="cursor: pointer" (click)="oldPassword()">{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
									<mat-hint *ngIf="resetPasswordForm.get('oldPassword').errors?.required && resetPasswordForm.get('oldPassword').touched"
										>Password is required</mat-hint
									>
									<mat-hint *ngIf="resetPasswordForm.get('oldPassword').errors?.invalidPassword && resetPasswordForm.get('oldPassword').touched"
										>Password should have min 8 characters, at least 1 uppercase letter, 1 lowercase letter & 1 number</mat-hint
									>
								</mat-form-field>
							</div>
							<div class="col-md-4">
								<mat-form-field appearance="outline">
									<mat-label>New Password</mat-label>
									<input
										[type]="showPassword ? 'text' : 'password'"
										formControlName="newPassword"
										autocomplete="new-password"
										matInput
										placeholder="Enter here!"
									/>
									<mat-icon matSuffix style="cursor: pointer" (click)="newPassword()">{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
									<mat-hint *ngIf="resetPasswordForm.get('newPassword').errors?.required && resetPasswordForm.get('newPassword').touched"
										>Password is required</mat-hint
									>
									<mat-hint *ngIf="resetPasswordForm.get('newPassword').errors?.invalidPassword && resetPasswordForm.get('newPassword').touched"
										>Password should have min 8 characters, at least 1 uppercase letter, 1 lowercase letter & 1 number</mat-hint
									>
								</mat-form-field>
							</div>
							<div class="col-md-4">
								<mat-form-field appearance="outline">
									<mat-label>Confirm New Password</mat-label>
									<input
										[type]="showConfirmPassword ? 'text' : 'password'"
										formControlName="confirmNewPassword"
										autocomplete="confirm-new-password"
										matInput
										placeholder="Enter here!"
									/>
									<mat-icon matSuffix style="cursor: pointer" (click)="confirmNewPassword()">{{
										showConfirmPassword ? 'visibility_off' : 'visibility'
									}}</mat-icon>
									<mat-hint
										*ngIf="resetPasswordForm.get('confirmNewPassword').errors?.required && resetPasswordForm.get('confirmNewPassword').touched"
										>Please enter a valid password!!</mat-hint
									>
									<mat-hint *ngIf="resetPasswordForm.get('confirmNewPassword').errors?.passwordMismatch">Passwords does not match</mat-hint>
								</mat-form-field>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" (click)="resetPassword()">Submit</button>
			<button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Cancel</button>
		</div>
	</div>
</ng-template>
