<ng-template #addProject let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Add Project</h1>
      <button type="button" class="btn-close btn-close-white" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p>Hello, World!</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-light" (click)="modal.close('Save click')">Save</button>
    </div>
  </div>
</ng-template>
