<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-md-5">
        <mat-card>
          <h1 class="text-center" style="margin-bottom: 0px">
            <mat-icon mat-list-icon style="font-size: 35px; color: #c46">bug_report</mat-icon>
          </h1>
          <form (ngSubmit)="onSubmit()" [formGroup]="emailForm" action="">
            <mat-form-field appearance="outline">
              <mat-label>Registered Email</mat-label>
              <input autocomplete="email" formControlName="email" matInput placeholder="Enter here!" required type="text"/>
              <mat-hint *ngIf="!emailForm.get('email').valid && emailForm.get('email').touched">Please enter a valid email!!</mat-hint>
            </mat-form-field>

            <div class="container text-center">
              <button class="me-2" color="primary" mat-raised-button type="submit">Send Link</button>
              <button [routerLink]="'/user/login'" color="primary" mat-raised-button>Login</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
