<ng-template #addCategory let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Add Global Category</h1>
      <button type="button" class="btn-close btn-close-white" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body mb-2">
      <div class="container">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label class="form-label" for="name">Category Name</label>
                <input type="text" class="form-control bg-dark text-white" id="name" placeholder="Name" />
                <div class="invalid-feedback">Valid name is required.</div>
              </div>
              <div class="col-md-6">
                <label class="form-label" for="assign">Assign To</label>
                <select class="form-control bg-dark text-white" id="assign">
                  <option value="">Choose...</option>
                  <option value="australia">Project 1</option>
                  <option value="usa">Project 2</option>
                </select>
                <div class="invalid-feedback">Valid Username is required.</div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </div>
</ng-template>
