<div class="container">
  <div class="py-5">
    <h1>
      <span><mat-icon mat-list-icon>bug_report</mat-icon></span> Issue Details
    </h1>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label class="form-label" for="country">Projects</label>
            <select class="form-control bg-dark text-white" id="country">
              <option value="">Choose...</option>
              <option value="australia">Project 1</option>
              <option value="usa">Project 2</option>
            </select>
            <div class="invalid-feedback">Valid Username is required.</div>
          </div>
          <div class="col-md-4">
            <label class="form-label" for="country">Category</label>
            <select class="form-control bg-dark text-white" id="country">
              <option value="">Choose...</option>
              <option value="australia">Project 1</option>
              <option value="usa">Project 2</option>
            </select>
            <div class="invalid-feedback">Valid Username is required.</div>
          </div>
          <div class="col-md-4">
            <label class="form-label" for="country">Reproducibility</label>
            <select class="form-control bg-dark text-white" id="country">
              <option value="">Choose...</option>
              <option value="australia">Project 1</option>
              <option value="usa">Project 2</option>
            </select>
            <div class="invalid-feedback">Valid Username is required.</div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4">
            <label class="form-label" for="country">Severity</label>
            <select class="form-control bg-dark text-white" id="country">
              <option value="">Choose...</option>
              <option value="australia">Project 1</option>
              <option value="usa">Project 2</option>
            </select>
            <div class="invalid-feedback">Valid Username is required.</div>
          </div>
          <div class="col-md-4">
            <label class="form-label" for="country">Priority</label>
            <select class="form-control bg-dark text-white" id="country">
              <option value="">Choose...</option>
              <option value="australia">Project 1</option>
              <option value="usa">Project 2</option>
            </select>
            <div class="invalid-feedback">Valid Username is required.</div>
          </div>
          <div class="col-md-4">
            <label class="form-label" for="country">Select Profile</label>
            <select class="form-control bg-dark text-white" id="country">
              <option value="">Choose...</option>
              <option value="australia">Project 1</option>
              <option value="usa">Project 2</option>
            </select>
            <div class="invalid-feedback">Valid Username is required.</div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4">
            <label class="form-label" for="country">Assign To</label>
            <div class="input-group">
              <span class="input-group-text bg-dark text-white">@</span>
              <select class="form-control bg-dark text-white" id="country">
                <option value="">Choose...</option>
                <option value="australia">Project 1</option>
                <option value="usa">Project 2</option>
              </select>
            </div>
            <div class="invalid-feedback">Valid Username is required.</div>
          </div>
          <div class="col-sm-8">
            <label class="form-label" for="summary">Summary</label>
            <input type="text" class="form-control bg-dark text-white" id="summary" placeholder="Summary" />
          </div>
        </div>

        <hr class="my-4" />

        <div class="row mt-3">
          <div class="col">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control bg-dark text-white" id="description" rows="3"></textarea>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <label class="form-label" for="reproduce">Steps To Reproduce</label>
            <textarea class="form-control bg-dark text-white" id="reproduce" rows="3"></textarea>
          </div>
          <div class="col">
            <label class="form-label" for="information">Additional Information</label>
            <textarea class="form-control bg-dark text-white" id="information" rows="3"></textarea>
          </div>
        </div>

        <hr class="my-4" />

        <div class="row mt-2">
          <div class="col">
            <label class="form-label" for="upload">Upload Document</label>
            <input type="text" class="form-control bg-dark text-white" id="upload" placeholder="Upload..." />
          </div>
        </div>

        <hr class="my-4" />

        <div class="row">
          <div class="col">
            <h3>View Status</h3>
          </div>
          <div class="col mt-1">
            <div class="form-check form-check-inline">
              <input id="public" name="view" type="radio" class="form-check-input bg-dark text-white" checked required />
              <label class="form-check-label" for="public"> Public</label>
            </div>
          </div>
          <div class="col mt-1">
            <div class="form-check form-check-inline">
              <input id="private" name="view" type="radio" class="form-check-input bg-dark text-white" required />
              <label class="form-check-label" for="private"> Private</label>
            </div>
          </div>
          <div class="col"></div>
          <div class="col"></div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-3">Submit Issue</button>
    </form>
  </div>
</div>
