<ng-template #changePasswordTemplate let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Change Password</h1>
      <button (click)="modal.dismiss('Cross click')" class="btn-close btn-close-white" type="button"></button>
    </div>
    <div class="modal-body">
      <div class="container">
        <form [formGroup]="changePasswordForm">
          <div class="row mt-3">
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Current Password</mat-label>
                <input
                  [type]="showCurrentPassword ? 'text' : 'password'"
                  autocomplete="current-password"
                  formControlName="currentPassword"
                  id="current-password"
                  matInput
                  placeholder="Enter here!"
                />
                <mat-icon
                  (click)="currentPassword()"
                  area-label="Warning: this will display your password on the screen."
                  matSuffix
                  style="cursor: pointer"
                >{{ showCurrentPassword ? 'visibility_off' : 'visibility' }}</mat-icon
                >
                <mat-hint *ngIf="changePasswordForm.get('currentPassword').errors?.required && changePasswordForm.get('currentPassword').touched"
                >Password is required
                </mat-hint
                >
                <mat-hint *ngIf="changePasswordForm.get('currentPassword').errors?.invalidPassword && changePasswordForm.get('currentPassword').touched"
                >Password should have min 8 characters, at least 1 uppercase letter, 1 lowercase letter & 1 number
                </mat-hint
                >
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>New Password</mat-label>
                <input
                  [type]="showNewPassword ? 'text' : 'password'"
                  autocomplete="new-password"
                  formControlName="newPassword"
                  id="new-password"
                  matInput
                  placeholder="Enter here!"
                />
                <mat-icon (click)="newPassword()" matSuffix style="cursor: pointer">{{ showNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                <mat-hint *ngIf="changePasswordForm.get('newPassword').errors?.required && changePasswordForm.get('newPassword').touched"
                >Password is required
                </mat-hint
                >
                <mat-hint *ngIf="changePasswordForm.get('newPassword').errors?.invalidPassword && changePasswordForm.get('newPassword').touched"
                >Password should have min 8 characters, at least 1 uppercase letter, 1 lowercase letter & 1 number
                </mat-hint
                >
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Confirm New Password</mat-label>
                <input
                  [type]="showNewConfirmPassword ? 'text' : 'password'"
                  autocomplete="confirm-new-password"
                  formControlName="confirmNewPassword"
                  id="confirm-new-password"
                  matInput
                  placeholder="Enter here!"
                />
                <mat-icon (click)="confirmNewPassword()" matSuffix style="cursor: pointer">{{
                  showNewConfirmPassword ? 'visibility_off' : 'visibility'
                  }}</mat-icon>
                <mat-hint *ngIf="changePasswordForm.get('confirmNewPassword').errors?.required && changePasswordForm.get('confirmNewPassword').touched"
                >Please enter a valid password!!
                </mat-hint
                >
                <mat-hint *ngIf="changePasswordForm.get('confirmNewPassword').errors?.passwordMismatch">Passwords does not match</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="changePassword()" class="btn btn-primary" type="button">Submit</button>
      <button (click)="modal.close('Save click')" class="btn btn-primary" type="button">Cancel</button>
    </div>
  </div>
</ng-template>
