<mat-toolbar class="app-toolbar shadow" color="primary">
  <span class="h3" style="margin-bottom: 0%">Bug Tracker</span>
  <span class="spacer"> </span>
  <button aria-label="something" color="primary" mat-mini-fab>
    <mat-icon>featured_play_list</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
<footer>
  <div class="footer-bottom">
    <p>copyright &copy; <a href="#">Virendra Jarwal</a></p>
    <div class="footer-menu">
      <ul class="f-menu">
        <li><a href="https://github.com/VirrenKJ"><i class="fa-brands fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/virendra-jarwal-40290286/"><i class="fa-brands fa-linkedin-in"></i></a></li>
        <li><a href="https://twitter.com/virren_kj"><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/virren_kj/?hl=en"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="https://www.facebook.com/sunny.j.921"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a></li>
        <li><a href="" style="margin-left: 10px;">About</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Blog</a></li>
      </ul>
    </div>
  </div>
</footer>
