<mat-toolbar class="app-toolbar shadow" color="primary">
	<span class="h3" style="margin-bottom: 0%">Bug Tracker</span>
	<span class="spacer"> </span>
	<button mat-mini-fab color="primary" aria-label="something">
		<mat-icon>featured_play_list</mat-icon>
	</button>
</mat-toolbar>
<router-outlet></router-outlet>
<footer>
	<div class="footer-content">
		<h1>Foolish Developer</h1>
		<ul class="socials">
			<li>
				<a href="#"><i class="fa fa-facebook"></i></a>
			</li>
			<li>
				<a href="#"><i class="fa fa-twitter"></i></a>
			</li>
			<li>
				<a href="#"><i class="fa fa-google-plus"></i></a>
			</li>
			<li>
				<a href="#"><i class="fa fa-youtube"></i></a>
			</li>
			<li>
				<a href="#"><i class="fa fa-linkedin-square"></i></a>
			</li>
		</ul>
	</div>
	<div class="footer-bottom">
		<p>copyright &copy; <a href="#">Foolish Developer</a></p>
		<div class="footer-menu">
			<ul class="f-menu">
				<li><a href="">Home</a></li>
				<li><a href="">About</a></li>
				<li><a href="">Contact</a></li>
				<li><a href="">Blog</a></li>
			</ul>
		</div>
	</div>
</footer>
