<div class="row mx-4">
  <div class="col-lg-6">
    <div class="mat-elevation-z8">
      <mat-card>
        <div class="row">
          <div class="col-8 mt-2">
            <mat-card-title> Assigned To Me</mat-card-title>
          </div>
          <div class="col-4 d-flex">
            <div class="col">
              <div class="input-group">
                <input
                  (click)="getIssueAssignedList()"
                  (input)="getIssueAssignedList()"
                  [(ngModel)]="paginationCriteriaIssueAssigned.searchFor"
                  aria-describedby="search-addon"
                  aria-label="Search"
                  class="form-control bg-dark text-white"
                  placeholder="Search by Summary"
                  type="search"
                />
                <span class="input-group-text border-0" id="search-addon" style="cursor: pointer"><i class="material-icons">search</i> </span>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
      <table *ngIf="issueAssignedList?.length > 0" [dataSource]="dataSourceIssueAssigned" mat-table>
        <ng-container matColumnDef="sno">
          <th *matHeaderCellDef mat-header-cell>No.</th>
          <td *matCellDef="let element; index as i" mat-cell>{{ paginatorIssueAssigned.pageIndex * paginatorIssueAssigned.pageSize + (i + 1) }}.</td>
        </ng-container>

        <ng-container matColumnDef="project_name">
          <th *matHeaderCellDef mat-header-cell>Project Name</th>
          <td *matCellDef="let element" mat-cell>{{ element?.projectName }}</td>
        </ng-container>

        <ng-container matColumnDef="category_name">
          <th *matHeaderCellDef mat-header-cell>Category Name</th>
          <td *matCellDef="let element" mat-cell>{{ element?.categoryName }}</td>
        </ng-container>

        <ng-container matColumnDef="assigned">
          <th *matHeaderCellDef mat-header-cell>Assigned User</th>
          <td *matCellDef="let element" mat-cell>{{ element?.assignedFirstName }} ({{ element?.assignedUsername }})</td>
        </ng-container>

        <ng-container matColumnDef="reported_by">
          <th *matHeaderCellDef mat-header-cell>Reported By</th>
          <td *matCellDef="let element" mat-cell>{{ element?.reportedByFirstName }} ({{ element?.reportedByUsername }})</td>
        </ng-container>

        <ng-container matColumnDef="summary">
          <th *matHeaderCellDef mat-header-cell>Summary</th>
          <td *matCellDef="let element" mat-cell>{{ element?.summary }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th *matHeaderCellDef mat-header-cell>Action</th>
          <td *matCellDef="let element" mat-cell>
            <a [routerLink]="['/bug-tracker/edit-issue', element.id]" style="color: #ffffff">
              <span class="material-icons" style="cursor: pointer"> edit </span>
            </a>
            <span (click)="deleteIssue(element.id, 'assigned')" class="material-icons" style="cursor: pointer"> delete </span>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
      </table>
      <mat-paginator
        #paginatorIssueAssigned
        [hidden]="issueAssignedList?.length < 1"
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="Select page of periodic elements"
        showFirstLastButtons
      >
      </mat-paginator>
      <div *ngIf="issueAssignedList?.length < 1" class="card text-white bg-dark mt-3">
        <div class="card-header">No Data</div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="mat-elevation-z8">
      <mat-card>
        <div class="row">
          <div class="col-8 mt-2">
            <mat-card-title> Reported By Me</mat-card-title>
          </div>
          <div class="col-4 d-flex">
            <div class="col">
              <div class="input-group">
                <input
                  (click)="getIssueReportedList()"
                  (input)="getIssueReportedList()"
                  [(ngModel)]="paginationCriteriaIssueReported.searchFor"
                  aria-describedby="search-addon"
                  aria-label="Search"
                  class="form-control bg-dark text-white"
                  placeholder="Search by Summary"
                  type="search"
                />
                <span class="input-group-text border-0" id="search-addon" style="cursor: pointer"><i class="material-icons">search</i> </span>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
      <table *ngIf="issueReportedList?.length > 0" [dataSource]="dataSourceIssueReported" mat-table>
        <ng-container matColumnDef="sno">
          <th *matHeaderCellDef mat-header-cell>No.</th>
          <td *matCellDef="let element; index as i" mat-cell>{{ paginatorIssueReported.pageIndex * paginatorIssueReported.pageSize + (i + 1) }}.</td>
        </ng-container>

        <ng-container matColumnDef="project_name">
          <th *matHeaderCellDef mat-header-cell>Project Name</th>
          <td *matCellDef="let element" mat-cell>{{ element?.projectName }}</td>
        </ng-container>

        <ng-container matColumnDef="category_name">
          <th *matHeaderCellDef mat-header-cell>Category Name</th>
          <td *matCellDef="let element" mat-cell>{{ element?.categoryName }}</td>
        </ng-container>

        <ng-container matColumnDef="assigned">
          <th *matHeaderCellDef mat-header-cell>Assigned User</th>
          <td *matCellDef="let element" mat-cell>{{ element?.assignedFirstName }} ({{ element?.assignedUsername }})</td>
        </ng-container>

        <ng-container matColumnDef="reported_by">
          <th *matHeaderCellDef mat-header-cell>Reported By</th>
          <td *matCellDef="let element" mat-cell>{{ element?.reportedByFirstName }} ({{ element?.reportedByUsername }})</td>
        </ng-container>

        <ng-container matColumnDef="summary">
          <th *matHeaderCellDef mat-header-cell>Summary</th>
          <td *matCellDef="let element" mat-cell>{{ element?.summary }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th *matHeaderCellDef mat-header-cell>Action</th>
          <td *matCellDef="let element" mat-cell>
            <a [routerLink]="['/bug-tracker/edit-issue', element.id]" style="color: #ffffff">
              <span class="material-icons" style="cursor: pointer"> edit </span>
            </a>
            <span (click)="deleteIssue(element.id, 'reported')" class="material-icons" style="cursor: pointer"> delete </span>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
      </table>
      <mat-paginator
        #paginatorIssueReported
        [hidden]="issueReportedList?.length < 1"
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="Select page of periodic elements"
        showFirstLastButtons
      >
      </mat-paginator>
      <div *ngIf="issueReportedList?.length < 1" class="card text-white bg-dark mt-3">
        <div class="card-header">No Data</div>
      </div>
    </div>
  </div>
</div>
