<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-md-5">
        <mat-card *ngIf="tokenValidation">
          <h1 class="text-center" style="margin-bottom: 0px">
            <mat-icon mat-list-icon style="font-size: 35px; color: #c46">bug_report</mat-icon>
          </h1>
          <form (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm" action="">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input
                [type]="showPassword ? 'text' : 'password'"
                autocomplete="new-password"
                formControlName="newPassword"
                matInput
                placeholder="Enter here!"
              />
              <mat-icon (click)="password()" matSuffix style="cursor: pointer">{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              <mat-hint *ngIf="forgotPasswordForm.get('newPassword').errors?.required && forgotPasswordForm.get('newPassword').touched">Password is required</mat-hint>
              <mat-hint *ngIf="forgotPasswordForm.get('newPassword').errors?.invalidPassword && forgotPasswordForm.get('newPassword').touched"
              >Password should have min 8 characters, at least 1 uppercase letter, 1 lowercase letter & 1 number
              </mat-hint
              >
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input
                [type]="showConfirmPassword ? 'text' : 'password'"
                autocomplete="new-confirm-password"
                formControlName="confirmNewPassword"
                matInput
                placeholder="Enter here!"
              />
              <mat-icon (click)="confirmPassword()" matSuffix style="cursor: pointer">{{
                showConfirmPassword ? 'visibility_off' : 'visibility'
                }}</mat-icon>
              <mat-hint *ngIf="forgotPasswordForm.get('confirmNewPassword').errors?.required && forgotPasswordForm.get('confirmNewPassword').touched"
              >Please enter a valid password!!
              </mat-hint
              >
              <mat-hint *ngIf="forgotPasswordForm.get('confirmNewPassword').errors?.passwordMismatch">Passwords does not match</mat-hint>
            </mat-form-field>
            <div class="container text-center">
              <button class="me-2" color="primary" mat-raised-button type="submit">Change Password</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
