<app-add-user-modal (userListEvent)="getUserList()" [openUserModal]="setOpenUserModal"></app-add-user-modal>
<app-add-project-modal (projectListEvent)="getProjectList()" [openProjectModal]="setOpenProjectModal"></app-add-project-modal>
<app-add-category-modal (categoryListEvent)="getGlobalCategoryList()" [openCategoryModal]="setOpenCategoryModal"></app-add-category-modal>
<app-add-profile-modal (profileListEvent)="getSystemProfileList()" [openProfileModal]="setOpenProfileModal"></app-add-profile-modal>
<app-change-password (changePasswordEvent)="passwordChange()" [openChangePasswordModal]="setOpenChangePasswordModal"></app-change-password>

<div class="body">
  <div class="container p-3">
    <mat-tab-group class="mat-tab-group" dynamicHeight mat-align-tabs="center" mat-stretch-tabs>
      <mat-tab label="Users">
        <ng-container>
          <div class="mat-elevation-z8">
            <mat-card>
              <div class="row">
                <div class="col-8 mt-2">
                  <mat-card-title> Users</mat-card-title>
                </div>
                <div class="col-4 d-flex">
                  <div class="col-4">
                    <button (click)="openUserModal(null)" [disabled]="!adminRole" class="btn btn-outline-light float-end me-3" type="button">
                      Add User
                    </button>
                  </div>
                  <div class="col">
                    <div class="input-group">
                      <input
                        (click)="getUserList()"
                        (input)="getUserList()"
                        [(ngModel)]="paginationCriteriaUser.searchFor"
                        aria-describedby="search-addon"
                        aria-label="Search"
                        class="form-control bg-dark text-white"
                        placeholder="Search by Username/Email"
                        type="search"
                      />
                      <span class="input-group-text border-0" id="search-addon" style="cursor: pointer"><i class="material-icons">search</i> </span>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
            <!-- table -->
            <table *ngIf="userPaginator.length > 0" [dataSource]="userDataSource" mat-table>
              <ng-container matColumnDef="sno">
                <th *matHeaderCellDef mat-header-cell>No.</th>
                <td *matCellDef="let element; index as i" mat-cell>{{ userPaginator.pageIndex * userPaginator.pageSize + (i + 1) }}.</td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell>Name</th>
                <td *matCellDef="let element" mat-cell>{{ element.firstName }} {{ element.lastName }}</td>
              </ng-container>

              <ng-container matColumnDef="username">
                <th *matHeaderCellDef mat-header-cell>Username</th>
                <td *matCellDef="let element" mat-cell>{{ element.username }}</td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th *matHeaderCellDef mat-header-cell>Email</th>
                <td *matCellDef="let element" mat-cell>{{ element.email }}</td>
              </ng-container>

              <ng-container matColumnDef="role">
                <th *matHeaderCellDef mat-header-cell>Role</th>
                <td *matCellDef="let element" mat-cell>{{ element?.roles[0]?.roleName }}</td>
              </ng-container>

              <ng-container matColumnDef="enabled">
                <th *matHeaderCellDef mat-header-cell>Enabled</th>
                <td *matCellDef="let element" mat-cell>{{ element.enabled }}</td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th *matHeaderCellDef mat-header-cell>Action</th>
                <td *matCellDef="let element" mat-cell>
                  <span (click)="openUserModal(element.id)" class="material-icons" style="cursor: pointer"> edit </span>
                  <span (click)="deleteUser(element.id)" class="material-icons" style="cursor: pointer"> delete </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="change">
                <th *matHeaderCellDef mat-header-cell style="max-width: 50px">Change Password</th>
                <td *matCellDef="let element" mat-cell>
                  <span (click)="openChangePasswordModal(element.id)" class="material-icons" style="cursor: pointer"> change_circle </span>
                </td>
              </ng-container>
              <tr *matHeaderRowDef="userColumns" mat-header-row></tr>
              <tr *matRowDef="let row; columns: userColumns" mat-row></tr>
            </table>

            <mat-paginator
              #userPaginator
              [hidden]="userPaginator.length < 1"
              [pageSizeOptions]="[5, 10, 20]"
              aria-label="Select page of periodic elements"
              showFirstLastButtons
            >
            </mat-paginator>
            <div *ngIf="userPaginator?.length < 1" class="card text-white bg-dark mt-3">
              <div class="card-header">No Data</div>
            </div>
          </div>
        </ng-container>
      </mat-tab>

      <mat-tab label="Projects">
        <ng-container>
          <div class="mat-elevation-z8">
            <mat-card>
              <div class="row">
                <div class="col-8 mt-2">
                  <mat-card-title> Projects</mat-card-title>
                </div>
                <div class="col-4 d-flex">
                  <div class="col-4">
                    <button (click)="openProjectModal(null)" [disabled]="!adminRole" class="btn btn-outline-light float-end me-3" type="button">
                      Add Project
                    </button>
                  </div>
                  <div class="col">
                    <div class="input-group">
                      <input
                        (click)="getProjectList()"
                        (input)="getProjectList()"
                        [(ngModel)]="paginationCriteriaProject.searchFor"
                        aria-describedby="search-addon"
                        aria-label="Search"
                        class="form-control bg-dark text-white"
                        placeholder="Search by Name"
                        type="search"
                      />
                      <span class="input-group-text border-0" id="search-addon" style="cursor: pointer"><i class="material-icons">search</i> </span>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
            <table *ngIf="projectPaginator.length > 0" [dataSource]="projectDataSource" mat-table>
              <ng-container matColumnDef="sno">
                <th *matHeaderCellDef mat-header-cell>No.</th>
                <td *matCellDef="let element; index as i" mat-cell>{{ projectPaginator.pageIndex * projectPaginator.pageSize + (i + 1) }}.</td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell>Name</th>
                <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th *matHeaderCellDef mat-header-cell>Status</th>
                <td *matCellDef="let element" mat-cell>{{ element.status }}</td>
              </ng-container>

              <ng-container matColumnDef="viewStatus">
                <th *matHeaderCellDef mat-header-cell>View Status</th>
                <td *matCellDef="let element" mat-cell>{{ element.viewStatus }}</td>
              </ng-container>

              <ng-container matColumnDef="categoryFlag">
                <th *matHeaderCellDef mat-header-cell>Inherit Category</th>
                <td *matCellDef="let element" mat-cell>{{ element.inheritCategoryFlag }}</td>
              </ng-container>

              <ng-container matColumnDef="description">
                <th *matHeaderCellDef mat-header-cell>Description</th>
                <td *matCellDef="let element" mat-cell>{{ element.description }}</td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th *matHeaderCellDef mat-header-cell>Action</th>
                <td *matCellDef="let element" mat-cell>
                  <span (click)="openProjectModal(element.id)" class="material-icons" style="cursor: pointer"> edit </span>
                  <span (click)="deleteProject(element.id)" class="material-icons" style="cursor: pointer"> delete </span>
                </td>
              </ng-container>

              <tr *matHeaderRowDef="projectColumns" mat-header-row></tr>
              <tr *matRowDef="let row; columns: projectColumns" mat-row></tr>
            </table>

            <mat-paginator
              #projectPaginator
              (page)="paginationProject($event)"
              [hidden]="projectPaginator.length < 1"
              [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
            >
            </mat-paginator>
            <div *ngIf="projectPaginator?.length < 1" class="card text-white bg-dark mt-3">
              <div class="card-header">No Data</div>
            </div>
          </div>
        </ng-container>
      </mat-tab>

      <mat-tab label="Global Categories">
        <ng-container>
          <div class="mat-elevation-z8">
            <mat-card>
              <div class="row">
                <div class="col-7 mt-2">
                  <mat-card-title> Global Categories</mat-card-title>
                </div>
                <div class="col-5 d-flex">
                  <div class="col-5">
                    <button (click)="openCategoryModal(null)" [disabled]="!adminRole" class="btn btn-outline-light float-end me-3" type="button">
                      Add Category
                    </button>
                  </div>
                  <div class="col">
                    <div class="input-group">
                      <input
                        (click)="getGlobalCategoryList()"
                        (input)="getGlobalCategoryList()"
                        [(ngModel)]="paginationCriteriaCategory.searchFor"
                        aria-describedby="search-addon"
                        aria-label="Search"
                        class="form-control bg-dark text-white"
                        placeholder="Search by Name"
                        type="search"
                      />
                      <span class="input-group-text border-0" id="search-addon" style="cursor: pointer"><i class="material-icons">search</i> </span>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
            <table *ngIf="categoryPaginator.length > 0" [dataSource]="categoryDataSource" mat-table>
              <ng-container matColumnDef="sno">
                <th *matHeaderCellDef mat-header-cell>No.</th>
                <td *matCellDef="let element; index as i" mat-cell>{{ categoryPaginator.pageIndex * categoryPaginator.pageSize + (i + 1) }}.</td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell>Name</th>
                <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
              </ng-container>

              <ng-container matColumnDef="project">
                <th *matHeaderCellDef mat-header-cell>Assigned Project</th>
                <td *matCellDef="let element" mat-cell>{{ element.assignedName }}</td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th *matHeaderCellDef mat-header-cell>Action</th>
                <td *matCellDef="let element" mat-cell>
                  <span (click)="openCategoryModal(element.id)" class="material-icons" style="cursor: pointer"> edit </span>
                  <span (click)="deleteCategory(element.id)" class="material-icons" style="cursor: pointer"> delete </span>
                </td>
              </ng-container>

              <tr *matHeaderRowDef="categoryColumns" mat-header-row></tr>
              <tr *matRowDef="let row; columns: categoryColumns" mat-row></tr>
            </table>

            <mat-paginator
              #categoryPaginator
              [hidden]="categoryPaginator.length < 1"
              [pageSizeOptions]="[5, 10, 20]"
              aria-label="Select page of periodic elements"
              showFirstLastButtons
            >
            </mat-paginator>
            <div *ngIf="categoryPaginator?.length < 1" class="card text-white bg-dark mt-3">
              <div class="card-header">No Data</div>
            </div>
          </div>
        </ng-container>
      </mat-tab>

      <mat-tab label="System Profiles">
        <ng-container>
          <div class="mat-elevation-z8">
            <mat-card>
              <div class="row">
                <div class="col-8 mt-2">
                  <mat-card-title> System Profiles</mat-card-title>
                </div>
                <div class="col-4 d-flex">
                  <div class="col-4">
                    <button (click)="openProfileModal(null)" [disabled]="!adminRole" class="btn btn-outline-light float-end me-3" type="button">
                      Add Profile
                    </button>
                  </div>
                  <div class="col">
                    <div class="input-group">
                      <input
                        (click)="getSystemProfileList()"
                        (input)="getSystemProfileList()"
                        [(ngModel)]="paginationCriteriaProfile.searchFor"
                        aria-describedby="search-addon"
                        aria-label="Search"
                        class="form-control bg-dark text-white"
                        placeholder="Search by OS Name"
                        type="search"
                      />
                      <span class="input-group-text border-0" id="search-addon" style="cursor: pointer"><i class="material-icons">search</i> </span>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
            <table *ngIf="profilePaginator.length > 0" [dataSource]="profileDataSource" mat-table>
              <ng-container matColumnDef="sno">
                <th *matHeaderCellDef mat-header-cell>No.</th>
                <td *matCellDef="let element; index as i" mat-cell>{{ profilePaginator.pageIndex * profilePaginator.pageSize + (i + 1) }}.</td>
              </ng-container>

              <ng-container matColumnDef="platform">
                <th *matHeaderCellDef mat-header-cell>platform</th>
                <td *matCellDef="let element" mat-cell>{{ element.platform }}</td>
              </ng-container>

              <ng-container matColumnDef="os">
                <th *matHeaderCellDef mat-header-cell>OS Name</th>
                <td *matCellDef="let element" mat-cell>{{ element.osName }}</td>
              </ng-container>

              <ng-container matColumnDef="version">
                <th *matHeaderCellDef mat-header-cell>OS Version</th>
                <td *matCellDef="let element" mat-cell>{{ element.osVersion }}</td>
              </ng-container>

              <ng-container matColumnDef="desc">
                <th *matHeaderCellDef mat-header-cell>Description</th>
                <td *matCellDef="let element" mat-cell>{{ element?.description }}</td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th *matHeaderCellDef mat-header-cell>Action</th>
                <td *matCellDef="let element" mat-cell>
                  <span (click)="openProfileModal(element.id)" class="material-icons" style="cursor: pointer"> edit </span>
                  <span (click)="deleteProfile(element.id)" class="material-icons" style="cursor: pointer"> delete </span>
                </td>
              </ng-container>

              <tr *matHeaderRowDef="profileColumns" mat-header-row></tr>
              <tr *matRowDef="let row; columns: profileColumns" mat-row></tr>
            </table>

            <mat-paginator
              #profilePaginator
              (page)="paginationProfile($event)"
              [hidden]="profilePaginator.length < 1"
              [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
            >
            </mat-paginator>
            <div *ngIf="profilePaginator?.length < 1" class="card text-white bg-dark mt-3">
              <div class="card-header">No Data</div>
            </div>
          </div>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
