<mat-toolbar class="app-toolbar shadow" color="primary">
  <span class="h3" style="margin-bottom: 0%;">Bug Tracker</span>
  <span class="spacer"> </span>
  <!-- <mat-list-item [mat-menu-trigger-for]="menu">
    <a>Example</a>
    <mat-icon>arrow_drop_down</mat-icon>
  </mat-list-item>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>text</button>
    <button mat-menu-item>text</button>
    <button mat-menu-item>text</button>
  </mat-menu> -->
  <!-- <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a> -->
  <!-- <a>{{ nameOfUser }}</a> -->
  <div class="dropdown">
    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownMenuLink" role="button">
      <span class="material-icons mt-2" style="font-size: xx-large"> account_circle </span>
    </a>
    <ul aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-dark">
      <li>
        <button (click)="openUserModal()" class="dropdown-item" type="button">Profile</button>
      </li>
      <li>
        <button (click)="openChangePasswordModal()" class="dropdown-item" type="button">Change Password</button>
      </li>
      <li>
        <button (click)="exitBugTracker()" class="dropdown-item" type="button">Exit Bug Tracker</button>
      </li>
      <li>
        <hr class="dropdown-divider"/>
      </li>
      <li>
        <button (click)="logoutConfirmation()" class="dropdown-item" type="button">Logout</button>
      </li>
    </ul>
  </div>
</mat-toolbar>
<app-add-user-modal (userListEvent)="getUserDetails()" [openUserModal]="setOpenUserModal"></app-add-user-modal>
<app-change-password (changePasswordEvent)="passwordChange()" [openChangePasswordModal]="setOpenChangePasswordModal"></app-change-password>
