<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list-item routerLink="/home" [routerLinkActive]="['is-active']">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </mat-list-item>
      <mat-list-item routerLink="/view-issue" [routerLinkActive]="['is-active']">
        <mat-icon mat-list-icon>format_list_bulleted</mat-icon>
        <span>View Issues</span>
      </mat-list-item>
      <mat-list-item routerLink="/add-issue" [routerLinkActive]="['is-active']">
        <mat-icon mat-list-icon>bug_report</mat-icon>
        <span>Report Issue</span>
      </mat-list-item>
      <mat-list-item routerLink="/summary" [routerLinkActive]="['is-active']">
        <mat-icon mat-list-icon>list_alt</mat-icon>
        <span>Summary</span>
      </mat-list-item>
      <mat-list-item routerLink="/manage" [routerLinkActive]="['is-active']">
        <mat-icon mat-list-icon>admin_panel_settings</mat-icon>
        <span>Manage</span>
      </mat-list-item>
      <a mat-list-item href="#">Link 1</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="ml2">Bug Tracker</span>
      <span class="spacer"> </span>
      <mat-form-field class="assign-task-list" [floatLabel]="'never'">
        <mat-label class="clr-blue">Dropdown</mat-label>
        <mat-select placeholder="" value="all">
          <mat-option value="all">All Projects</mat-option>
          <mat-option value="open">Open</mat-option>
          <mat-option value="copy">Copy</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <mat-list-item [mat-menu-trigger-for]="menu">
        <a>Example</a>
        <mat-icon>arrow_drop_down</mat-icon>
      </mat-list-item>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>text</button>
        <button mat-menu-item>text</button>
        <button mat-menu-item>text</button>
      </mat-menu> -->
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <ng-content #name></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
