.sidenav-container {
  height: 94%;
  width: 100%;
  position: fixed;
}

.sidenav {
  width: 200px;
  background: inherit;
}

mat-toolbar.sub-header {
  /* background: #ea4863; */
  position: sticky !important;
  z-index: 0 !important;
  height: 90px;
}

mat-sidenav-container mat-sidenav-content mat-toolbar.app-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

mat-sidenav-container {
  z-index: auto;
}

/* .is-active {
  background-color: rgb(44, 44, 44);
} */
