<mat-tab-group class="mat-tab-group" mat-align-tabs="center">
  <mat-tab label="Users">
    <ng-container>
      <div class="mat-elevation-z8">
        <mat-card>
          <div class="row justify-content-between">
            <div class="col-3 mt-2">
              <mat-card-title> Users </mat-card-title>
            </div>
            <div class="col-2">
              <div class="input-group">
                <input
                  type="search"
                  class="form-control bg-dark text-white"
                  placeholder="Search"
                  aria-label="Search"
                  aria-describedby="search-addon"
                />
                <span class="input-group-text border-0" id="search-addon" style="cursor: pointer"> <i class="material-icons">search</i> </span>
              </div>
            </div>
          </div>
        </mat-card>
        <table mat-table [dataSource]="userDataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>Weight</th>
            <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef>Symbol</th>
            <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="userColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: userColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements" #userPaginator>
        </mat-paginator>
      </div>
    </ng-container>
  </mat-tab>

  <mat-tab label="Projects">
    <ng-container>
      <div class="mat-elevation-z8">
        <mat-card>
          <div class="row justify-content-between">
            <div class="col-3 mt-2">
              <mat-card-title> Projects </mat-card-title>
            </div>
            <div class="col-3">
              <div class="input-group">
                <input
                  type="search"
                  class="form-control bg-dark text-white"
                  placeholder="Search"
                  aria-label="Search"
                  aria-describedby="search-addon"
                />
                <span class="input-group-text border-0" id="search-addon" style="cursor: pointer"> <i class="material-icons">search</i> </span>
              </div>
            </div>
          </div>
        </mat-card>
        <table mat-table [dataSource]="projectDataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>Weight</th>
            <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef>Symbol</th>
            <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="userColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: userColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements" #projectPaginator>
        </mat-paginator>
      </div>
    </ng-container>
  </mat-tab>

  <mat-tab label="Global Profiles">
    <ng-container>
      <div class="mat-elevation-z8">
        <mat-card>
          <div class="row justify-content-between">
            <div class="col-3 mt-2">
              <mat-card-title> Global Profiles </mat-card-title>
            </div>
            <div class="col-3">
              <div class="input-group">
                <input
                  type="search"
                  class="form-control bg-dark text-white"
                  placeholder="Search"
                  aria-label="Search"
                  aria-describedby="search-addon"
                />
                <span class="input-group-text border-0" id="search-addon" style="cursor: pointer"> <i class="material-icons">search</i> </span>
              </div>
            </div>
          </div>
        </mat-card>
        <table mat-table [dataSource]="profileDataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>Weight</th>
            <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef>Symbol</th>
            <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="userColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: userColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements" #profilePaginator>
        </mat-paginator>
      </div>
    </ng-container>
  </mat-tab>
</mat-tab-group>
