<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-5 offset-3">
        <div class="container">
          <h1 class="text-center">LOGO</h1>
          <form action="">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input type="text" name="username" autocomplete="username" matInput placeholder="Enter here!" required />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" name="password" autocomplete="new-password" matInput placeholder="Enter here!" required />
            </mat-form-field>
            <div class="container text-center">
              <button class="me-2" mat-raised-button color="primary">Login</button>
              <button mat-raised-button color="primary" [routerLink]="'/signup'">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
