<ng-template #addCompany let-modal>
	<div class="modal-content">
		<div class="modal-header">
			<h1 class="modal-title">Add Company</h1>
			<button type="button" class="btn-close btn-close-white" (click)="modal.dismiss('Cross click')"></button>
		</div>
		<div class="modal-body">
			<div class="container">
				<form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
					<div class="form-group">
						<div class="row mt-3">
							<div class="col-md-6">
								<mat-form-field class="full-width" appearance="outline">
									<mat-label>Business Name</mat-label>
									<input type="text" matInput placeholder="XYZ Private Limited" />
									<mat-error> Please enter a valid <strong>business name</strong>. </mat-error>
								</mat-form-field>
							</div>
							<div class="col-md-6">
								<mat-form-field class="full-width" appearance="outline">
									<mat-label>E-mail</mat-label>
									<input type="email" matInput placeholder="xyz@gmail.com" />
									<mat-error> Please enter a valid <strong>email address</strong>. </mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<mat-form-field class="full-width" appearance="outline">
									<mat-label>Contact number</mat-label>
									<input type="number" matInput placeholder="9876543210" />
									<mat-error> Please enter a valid <strong>contact number</strong>. </mat-error>
								</mat-form-field>
							</div>
							<div class="col-md-6">
								<mat-form-field class="full-width" appearance="outline">
									<mat-label>Industry type</mat-label>
									<mat-select placeholder="Choose...">
										<mat-option>None</mat-option>
										<mat-option [value]="industry" *ngFor="let industry of industryType; let i = index">{{ industry }}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<mat-form-field class="full-width" appearance="outline">
									<mat-label>PIN Code</mat-label>
									<input type="number" matInput placeholder="302015" />
									<mat-error> Please enter a valid <strong>PIN</strong>. </mat-error>
								</mat-form-field>
							</div>
							<div class="col-md-4">
								<mat-form-field class="full-width" appearance="outline">
									<mat-label>State</mat-label>
									<mat-select placeholder="Choose...">
										<mat-option [value]="state" *ngFor="let state of states; let i = index">{{ state }}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-md-4">
								<mat-form-field class="full-width" appearance="outline">
									<mat-label>City</mat-label>
									<input type="text" matInput placeholder="Jaipur" />
									<mat-error> Please enter a valid <strong>city</strong>. </mat-error>
								</mat-form-field>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary">Submit</button>
			<button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Cancel</button>
		</div>
	</div>
</ng-template>
