@import '~@angular/material/theming';

@include mat-core();

$bt-primary: mat-palette($mat-indigo);
$bt-accent: mat-palette($mat-pink, A200, A100, A400);
$bt-warn: mat-palette($mat-red);

$bt-theme: mat-light-theme(
  (
    color: (
      primary: $bt-primary,
      accent: $bt-accent,
      warn: $bt-warn,
    ),
  )
);
@include angular-material-theme($bt-theme);
