<ng-template #enlistEmployee let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title mb-0">Add Employee</h1>
      <button (click)="modal.dismiss()" class="btn-close btn-close-white" type="button"></button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="form-group">
          <div class="row mt-3">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Companies</mat-label>
                <mat-select [(ngModel)]="company" matTooltip="Required" matTooltipPosition="right" placeholder="Choose...">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let company of companies; let i = index" [value]="company">{{ company.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Users</mat-label>
                <input
                  (click)="getUsers()"
                  (input)="getUsers()"
                  [(ngModel)]="searchFor"
                  [matAutocomplete]="autoUser"
                  [ngModelOptions]="{ standalone: true }"
                  matInput
                  matTooltip="Required"
                  matTooltipPosition="right"
                  placeholder="Username/Email"
                  type="text"
                />
                <mat-autocomplete #autoUser="matAutocomplete" class="full-mat-option">
                  <mat-option
                    (onSelectionChange)="selectedUser(user)"
                    *ngFor="let user of users; let i = index"
                    [value]="user.firstName"
                    style="background: #212529"
                  >{{ user.username }} | {{ user.email }}</mat-option
                  >
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Role</mat-label>
                <mat-select [(ngModel)]="role.roleId" matTooltip="Required" matTooltipPosition="right" placeholder="Choose...">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let role of roles; let i = index" [value]="role.roleId">{{ role.roleName }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="onSubmit()" [disabled]="!company?.id || !userDetail?.id || !role?.roleId" class="btn btn-primary" type="button">Submit</button>
      <button (click)="modal.close()" class="btn btn-primary" type="button">Cancel</button>
    </div>
  </div>
</ng-template>
