<ng-template #enlistEmployee let-modal>
	<div class="modal-content">
		<div class="modal-header">
			<h1 class="modal-title">Add Company</h1>
			<button type="button" class="btn-close btn-close-white" (click)="modal.dismiss()"></button>
		</div>
		<div class="modal-body">
			<div class="container">
				<div class="form-group">
					<div class="row mt-3">
						<div class="col-md-4">
							<mat-form-field class="full-width" appearance="outline">
								<mat-label>Companies</mat-label>
								<mat-select matTooltip="Required" matTooltipPosition="right" [(ngModel)]="company" placeholder="Choose...">
									<mat-option>None</mat-option>
									<mat-option [value]="company" *ngFor="let company of companies; let i = index">{{ company.name }}</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="col-md-4">
							<mat-form-field class="full-width" appearance="outline">
								<mat-label>Users</mat-label>
								<input
									matTooltip="Required"
									matTooltipPosition="right"
									matInput
									type="text"
									placeholder="Username/Email"
									(input)="getUsers()"
									(click)="getUsers()"
									[(ngModel)]="searchFor"
									[ngModelOptions]="{ standalone: true }"
									[matAutocomplete]="autoUser"
								/>
								<mat-autocomplete class="full-mat-option" #autoUser="matAutocomplete">
									<mat-option
										style="background: #212529"
										[value]="user.firstName"
										*ngFor="let user of users; let i = index"
										(onSelectionChange)="selectedUser(user)"
										>{{ user.username }} | {{ user.email }}</mat-option
									>
								</mat-autocomplete>
							</mat-form-field>
						</div>
						<div class="col-md-4">
							<mat-form-field class="full-width" appearance="outline">
								<mat-label>Role</mat-label>
								<mat-select matTooltip="Required" matTooltipPosition="right" [(ngModel)]="role.roleId" placeholder="Choose...">
									<mat-option>None</mat-option>
									<mat-option [value]="role.roleId" *ngFor="let role of roles; let i = index">{{ role.roleName }}</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!company.id || !user.id || !role.roleId">Submit</button>
			<button type="button" class="btn btn-primary" (click)="modal.close()">Cancel</button>
		</div>
	</div>
</ng-template>
