<mat-toolbar class="app-toolbar shadow" color="primary">
  <span class="display-6">Bug Tracker</span>
  <span class="spacer"> </span>
  <!-- <mat-list-item [mat-menu-trigger-for]="menu">
        <a>Example</a>
        <mat-icon>arrow_drop_down</mat-icon>
      </mat-list-item>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>text</button>
        <button mat-menu-item>text</button>
        <button mat-menu-item>text</button>
      </mat-menu> -->
  <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
  <!-- <button mat-icon-button aria-label="logout">
    <mat-icon>logout</mat-icon>
  </button> -->
  <!-- <button mat-mini-fab color="primary" aria-label="logout" (click)="logout()" *ngIf="setLoggedIn"> -->
  <button mat-mini-fab color="primary" aria-label="logout">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
